body{
    background-image: url(download.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    
}

.bar{
    background: rgb(194, 132, 82);
    text-align: center;
    border-radius: 200px;
}

.bar ul{
    display: inline-flex;
    list-style: none;
    color: aliceblue;
    
}

.bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px
    
}

.bar ul li a{
    text-decoration: none;
    color: aliceblue;
}
.active, .bar ul li:hover{
    background: #19af69;
    border-radius: 10px;
} 
.main{
    font-family: cursive;
     color: cadetblue;
}


 



